*{
    margin: 0;
    padding: 0;
    /* outline: 1px dashed white; */
}
@font-face {
    font-family: LeagueSpartan;
    src:url(LeagueSpartan-Bold.otf)
}
@font-face {
    font-family: BrushScript;
    src:url(BRUSHSCI.TTF)
}
html{
    background-color: #0C1821;
    scroll-behavior: smooth;
}
.main{
    display: flex;
    justify-content: center;
    flex: 50%;
}

.sidebar{
    margin-top: -25px;
    /* margin-bottom: auto; */
    /* margin-left: auto;
    margin-right: auto; */
    background-color: #253237;
    height: 90px;
    max-width: 90%;
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    position: fixed;
    border: 2px solid #D64933;
    border-radius: 0 0 60px 60px;
    z-index: 1;
}
.JumpButtons{
    width: 80px;
    padding: 10px 0;
    text-align: center;
    /* margin: 1em 2em;
    margin-top: 2.5em; */
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #D64933;
    background: #0C1821;
    color:#9DB4C0;
    cursor: pointer;
    transition: 0.8s;
    transform: scale(100%);
    /* position: relative;
    overflow: hidden; */
}

.JumpButtons:hover{
    transform: scale(120%) rotate3d(2, 0, 0, -360deg);
    transition: 1s;
}
.sidebar a{
    margin: 1em 2em;
    margin-top: 2.5em;
}
.content{
    margin-top: 15%;
    /* padding-top: 5% ; */
    display: flex;
    flex-direction: column;
    max-width: 70%;
    /* background-color: rgba(37, 50, 55, 0.8); */
    /* border-radius: 0 0 15px 15px; */
    text-align: center;
}
#about{
    position: relative;
    left: -25%;
    min-width: 112.6%;
    background-color: rgba(37, 50, 55, 0.8);
    /* margin-left: -25%; */
    padding: 20px 20px 20px 10%;
    border-radius: 0 60px 60px 0;
    border: 2px solid #D64933;
    /* max-height: 250px; */
    text-align: left;
}
#about h1{
    font-family: Script MT, BrushScript, cursive;
    font-size: 5em;
    padding-bottom: .05em;
    color: #F7B801;
}

#about h2{
    font-family: LeagueSpartan;
    font-size: 1.8em;
    color: #D64933;
}
#about p{
    color: #9DB4C0;
    font-size: 1.3em;
    text-align:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* SKILLS SECTION BEGINS */
#skills{
    margin-top: 10%;
    /* background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 10px 60px 10px 60px; */
    text-align: center;
}
#skills h2{
    font-family: LeagueSpartan;
    font-size: 2em;
    color: #D64933;
    padding-top: 20px;
}
#skill-container{
    width: auto;
}
.skill-row{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    min-width: 112.5%;
    /* transition: 0.5s; */

    /* TAKE BACKGROUND AND SIZING FROM SKILL-ROWS AND APPLY HERE TO ALLOW SEAMLESS ALIGNMENT OF ICONS WHILE MAINTAINING AESTHETIC */
}
.skill-row h3{
    font-family: LeagueSpartan;
    color: #9DB4C0;
}
.skill-row img{
    width: auto;
    height: 100px;
    padding: 20px 20px 0 20px;
}
.skill-row span:hover{
    transform: scale(120%);
    transition: 1s;
}
#skill-row-1{
    background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 0 60px 60px 0;
    padding: 20px 20px 20px 10%;
    left: -25%;
    margin-bottom: 5%;
}
#skill-row-2{
    background-color: rgba(37, 50, 55, 0.8);
    /* border: 2px solid #D64933; */
    border-radius: 60px 0 0 60px;
    border-top: 2px solid #D64933;
    border-left: 2px solid #D64933;
    border-bottom: 2px solid #D64933;
    padding: 20px 20px 20px 6.7%;
    /* right: 4%; */
    margin-bottom: 5%;
    /* width: 115%; */
}

#skill-row-2 span:hover{
    transform: scale(120%);
    transition: 1s;
}
#skill-row-3{
    background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 0 60px 60px 0;
    padding: 20px 20px 20px 10%;
    left: -25%;
    margin-bottom: 5%;
}
/* #skill-row-2 span{
    transform: translateX(-30%);
} */

/* SKILLS SECTION ENDS */

/* PROJECTS SECTION BEGINS */
#projects{
    width: auto;
    text-align: center;
    margin-top: 10%;
}
#projects h2{
    font-family: LeagueSpartan;
    font-size: 2em;
    color: #D64933;
    padding-bottom: 5%;
}
.project-row{
    /* outline: 1px solid white; */
    display: flex;
    max-width: 100%;
    /* justify-content: space-between; */
    text-align: center;
    flex: 15%;
    
}
.project-row img{
    height: 80%;
    width: 80%;
}
.project-row h3{
    padding-top: 1%;
    color: #9DB4C0;
    font-size: 1.5em;
}
#BLAP{
    position: relative;
    left: -25.5%;
    background-color: rgba(37, 50, 55, 0.8);
    /* border: 2px solid #D64933; */
    border-top: 2px solid #D64933;
    border-right: 2px solid #D64933;
    border-bottom: 2px solid #D64933;
    border-radius: 0 60px 60px 0;
    padding: 20px 0px 20px 20%;
    min-width: 50%;

}
#BLAP img{
    transform: translateX(-15%);
}
#BLAP h3{
    position: relative;
    width: 70%;
    left: 3%;
}
#Math{
    position: relative;
    right: 12%;
    background-color: rgba(37, 50, 55, 0.8);
    border-top: 2px solid #D64933;
    border-left: 2px solid #D64933;
    border-bottom: 2px solid #D64933;
    border-radius: 60px 0 0 60px;
    padding: 20px 13% 20px 0px;
    min-width: 50%;
}
#Math:hover{
    transform: scale(120%);
    padding: 20px 7.3% 20px 0px;
}
#BLAP:hover{
    transform: scale(120%);
}
#Math img{
    transform: translateX(15%);
}
#Math h3{
    position: relative;
    left: 22%;
    width: 80%;
}

/* PROJECTS SECTION ENDS */

/* CONTACT SECTION BEGINS */
#contact-header{
    margin-top: 15%;
    padding-bottom: 5%;
    font-family: LeagueSpartan;
    font-size: 2em;
    color: #D64933;
}
#contact-container{
    display: flex;
    background-color: #253237;
    height: 12%;
    max-width: 90%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    /* margin-top: 15%; */
    border-top: 2px solid #D64933;
    border-right: 2px solid #D64933;
    border-left: 2px solid #D64933;
    border-radius: 60px 60px 0 0;
    flex-direction: column;
    position: relative;
    left: 5%;
}
#contact-row{
    display: flex;
    justify-content: space-evenly;
}

#contact a, img{
    width: 80px;
    height: auto;
}
#phone-email{
    display: flex;
    justify-content:space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}
#phone, #email{
    position: relative;
    left: 8%;
    color: #D64933;
}
#phone span, #email span{
    color:#9DB4C0;
}
/* #phone{
    color: #D64933;
}
#phone span{
    color:#9DB4C0;
} */
/* CONTACT SECTIONS ENDS */
/* @media screen and (max-width: 2000px){
#skill-row-2{
    
}
} */
@media screen and (max-width: 1400px){
    /* .sidebar{
        display: none;
    } */
    .JumpButtons{
        width: 65px;
        /* margin: 1em 1em; */
        /* margin-top: 2.5em; */
    }
    .JumpButtons:hover{
        transform: scale(110%);
        transition: 1s;
    }
    .content{
        /* align-items: center; */
        margin-top: 25%;
    }
    #about h1{
        font-size: 2em;
    }
    #about h2{
        font-size: 1em;
    }
    #about p{
        font-size: 0.8em;
    }
    .project-row h3{
        font-size: 1.1em;
    }
    #Math{
        padding: 20px 13.8% 20px 0px;
    }
    #phone, #email{
        /* flex-direction: column; */
        font-size: 1.5em;
        left: 0%;
    }
    #phone-email{
        flex-direction: column;
        justify-content: center;
    }
}

/* SMALL SCREENS */
@media screen and (max-width: 700px){
    .sidebar{
        display: none;
    }
    .skill-row img{
        width: auto;
        height: 50px;
        padding: 20px 20px 0 20px;
        transition: 0.5s;
    }
    #skill-row-2 span{
        transform: translateX(0);
    }
    /* .project-row img{
        height: 50px;
        width: auto;
    } */
    .project-row h3{
        font-size: .8em;
    }
    #contact-row img{
        width: 60px;
        transition-duration: 1s;
    }
    #phone-email{
        flex-direction: column;
        justify-content: center;
    }
    #phone, #email{
        font-size: 0.6em;
        left: 0%;
    }
    #Math{
        padding: 20px 17.74% 20px 0px;
    }
    #projects h2, #contact-header, #skills h2{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 400px){
    #skill-row-2{
        padding: 20px 20px 20px 1%;
        right: 1.99%;
    }
    #Math{
        padding: 20px 11.4% 20px 0px;
    }
    .skill-row img{
        height: 30px;
    }
    .project-row h3{
        font-size: .65em;
    }
    #email{
        font-size: 0.5em;
    }
}