*{
    margin: 0;
    padding: 0;
    /* border: 1px dashed white; */
}
html{
    background-color: #0C1821;
    scroll-behavior: smooth;
}
.main{
    display: flex;
    justify-content: center;
    flex: 50%;
}
.sidebar{
    margin-top: -25px;
    /* margin-bottom: auto; */
    /* margin-left: auto;
    margin-right: auto; */
    background-color: #253237;
    height: 90px;
    max-width: 90%;
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    position: fixed;
    border: 2px solid #D64933;
    border-radius: 0 0 60px 60px;
}
.JumpButtons{
    width: 80px;
    padding: 10px 0;
    text-align: center;
    /* margin: 1em 2em;
    margin-top: 2.5em; */
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #D64933;
    background: #0C1821;
    color:#9DB4C0;
    cursor: pointer;
    transition: 0.8s;
    transform: scale(100%);
    /* position: relative;
    overflow: hidden; */
}
/* .JumpButtons span{
    background: rgba(209, 141, 6, 0.676);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
} */
.JumpButtons:hover{
    transform: scale(120%) rotate3d(2, 0, 0, -360deg);
    transition: 1s;
}
.sidebar a{
    margin: 1em 2em;
    margin-top: 2.5em;
}
.content{
    margin-top: 18%;
    /* padding-top: 5% ; */
    display: flex;
    flex-direction: column;
    max-width: 70%;
    /* background-color: rgba(37, 50, 55, 0.8); */
    /* border-radius: 0 0 15px 15px; */
    text-align: left;
}
#about{
    position: relative;
    left: -25%;
    min-width: 112.6%;
    background-color: rgba(37, 50, 55, 0.8);
    /* margin-left: -25%; */
    padding: 20px 20px 20px 10%;
    border-radius: 0 60px 60px 0;
    border: 2px solid #D64933;
    /* max-height: 250px; */
}
#about h1{
    font-size: 3em;
    padding-bottom: .05em;
    color: #F7B801;
}

#about h2{
    font-size: 1.8em;
    color: #D64933;
}
#about p{
    color: #9DB4C0;
    font-size: 1.3em;
    text-align:left;
}

/* SKILLS SECTION BEGINS */
#skills{
    margin-top: 20%;
    /* background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 10px 60px 10px 60px; */
    text-align: center;
}
#skills h2{
    font-size: 2em;
    color: #D64933;
    padding-top: 20px;
}
#skill-container{
    width: auto;
}
.skill-row{
    display: flex;
    justify-content: space-evenly;

    /* TAKE BACKGROUND AND SIZING FROM SKILL-ROWS AND APPLY HERE TO ALLOW SEAMLESS ALIGNMENT OF ICONS WHILE MAINTAINING AESTHETIC */
}
.skill-row h3{
    color: #9DB4C0;
}
.skill-row img{
    width: auto;
    height: 100px;
    padding: 20px 20px 0 20px;
}
.skill-row img:hover{
    transform: scale(120%);
    transition: 1s;
}
#skill-row-1{
    background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 0 60px 60px 0;
    padding: 20px 20px 20px 10%;
    margin-left: -25%;
    margin-bottom: 5%;
}
#skill-row-2{
    background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 60px 0 0 60px;
    padding: 20px 20px 20px 10%;
    margin-right: -28%;
    margin-bottom: 5%;
    /* transform: translateX(-5%); */
}
#skill-row-3{
    background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 0 60px 60px 0;
    padding: 20px 20px 20px 10%;
    margin-left: -25%;
    margin-bottom: 5%;
}
#skill-row-2 span{
    transform: translateX(-83%);
}

/* ALTERNATE VERSION OF SKILLS DISPLAY */
/* #skill-row-1{
    background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 60px 0 0 60px;
    padding: 20px 20px 20px 10%;
    margin-right: -28%;
    margin-bottom: 5%;
}
#skill-row-2{
    background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 0 60px 60px 0;
    padding: 20px 20px 20px 10%;
    margin-left: -25%;
    margin-bottom: 5%;
    
}
#skill-row-3{
    background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 60px 0 0 60px;
    padding: 20px 20px 20px 10%;
    margin-right: -28%;
    margin-bottom: 5%;
} */
/* ALTERNATE VERSION OF SKILLS DISPLAY */
/* SKILLS SECTION ENDS */

/* PROJECTS SECTION BEGINS */
#projects{
    margin-top: 20%;
    background-color: rgba(37, 50, 55, 0.8);
    border: 2px solid #D64933;
    border-radius: 0 60px 60px 0;
    padding: 20px 0px 20px 20%;
    margin-left: -25%;
    max-width: 100%;
}
.project-row img{
    height: 250px;
    width: auto;
}
/* PROJECTS SECTION ENDS */
@media screen and (max-width: 1000px){
    /* .sidebar{
        display: none;
    } */
    .JumpButtons{
        width: 65px;
        /* margin: 1em 1em; */
        /* margin-top: 2.5em; */
    }
    .JumpButtons:hover{
        transform: scale(110%) rotate3d(2, 0, 0, -360deg);
        transition: 1s;
    }
    .content{
        align-items: center;
        margin-top: 25%;
    }
    #about h1{
        font-size: 2em;
    }
    #about h2{
        font-size: 1em;
    }
    #about p{
        font-size: 0.8em;
    }
}